{% extends 'base.html' %}
{% load static sass_tags %}
{% block style %}
<link rel="stylesheet" href="{% sass_src 'vote_site/css/policy.scss' %}" />
{% endblock style %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'list' %}">集計</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{% url 'form' %}">投票</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'policy' %}">サイトポリシー</a>
</li>
{% endblock navbar %}
{% block content %}
<div class="content__wrapper">
<h3>サイトポリシー</h3>
<p>当サイトは、京都大学工学部電気電子工学科の研究室配属希望申し込みの意向調査サイトです。</p>
<p>不具合、ご要望、ご質問などは<a href="https://twitter.com/hysrice884" target="_blank" rel="noopener noreferrer">@hysrice884</a>までお願いします。</p>
<p>当サイトは京都大学の学務とは一切関係なく、当サイトを利用したことによるいかなる不都合や不利益などに対する責任を負いかねます。</p>
<p>サイトの特性上、入力されたメールアドレスがデータベースに保存されますが、この情報は当サイトの運営のみに利用され、第三者への提供、公開は致しません。</p>
</div>
{% endblock content %}